@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
    var email = user?.Email;
}
<div>
    <div class="w-[500px] mx-auto mt-6 h-full rounded-2xl bg-gradient-to-l from-sky-700 to-indigo-800 p-5">
        <h1 class="text-4xl text-white">Profile</h1>
        <hr />
        <div class="mt-3 text-3xl text-white">
            Username : @email
        </div>
        <div class="text-3xl text-white">
            Email: @user.UserName
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
