@{
    ViewData["Title"] = "Home Page";
}

<div class="w-full">
    <h1 class="mx-auto mt-10 w-fit text-center text-4xl">Welcome</h1>
    <p class="mx-auto mt-5 w-fit text-center text-2xl">This is a simple Authentication web application.</p>
</div>
