@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="h-full w-full">
    <div class="w-[500px] mx-auto mt-6 h-full rounded-2xl bg-gradient-to-l from-sky-700 to-indigo-800 p-5">
        <h1 class="mb-2 text-3xl text-white">Login</h1>
        <hr />
        <section>
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="" role="alert"></div>
                <div class="flex flex-col">
                    <label asp-for="Input.Email" class="text-white">Email</label>
                    <input asp-for="Input.Email" class="h-8 rounded p-2" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <span asp-validation-for="Input.Email" class=""></span>
                </div>
                <div class="flex flex-col">
                    <label asp-for="Input.Password" class="text-white">Password</label>
                    <input asp-for="Input.Password" class="h-8 rounded p-2" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <span asp-validation-for="Input.Password" class=""></span>
                </div>
                <div class="">
                    <label asp-for="Input.RememberMe" class="text-white">
                        <input class="" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div class="flex w-full flex-row justify-end">
                    <button id="login-submit" type="submit" class="h-fit w-fit rounded-xl bg-amber-50 px-3 py-1">Log in</button>
                </div>
                
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
