@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="h-full w-full">
    <div class="w-[500px] mx-auto mt-6 h-full rounded-2xl bg-gradient-to-l from-sky-700 to-indigo-800 p-5">
        <h1 class="mb-2 text-3xl text-white">Register</h1>
        <hr />
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="flex flex-col">
                <label asp-for="Input.username" class="text-white">username</label>
                <input asp-for="Input.username" class="h-8 rounded p-2" autocomplete="username" aria-required="true" placeholder="username" />
                <span asp-validation-for="Input.username" class="text-danger"></span>
            </div>
            <div class="flex flex-col">
                <label asp-for="Input.Email" class="text-white">Email</label>
                <input asp-for="Input.Email" class="h-8 rounded p-2" autocomplete="Email" aria-required="true" placeholder="name@example.com" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="flex flex-col">
                <label asp-for="Input.Password" class="text-white">Password</label>

                <input asp-for="Input.Password" class="h-8 rounded p-2" autocomplete="new-password" aria-required="true" placeholder="password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="flex flex-col">
                <label asp-for="Input.ConfirmPassword" class="text-white">Confirm Password</label>

                <input asp-for="Input.ConfirmPassword" class="h-8 rounded p-2" autocomplete="new-password" aria-required="true" placeholder="password" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="mt-3 flex w-full flex-row justify-end">
                <button id="registerSubmit" type="submit" class="h-fit w-fit rounded-xl bg-amber-50 px-3 py-1">Register</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
